{% extends "base.html" %}

{% block content %}
    <h1>My Develop</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.argument.label }}<br>
                {{ form.argument(size=32) }}<br>
                {% for error in form.argument.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.sex.label }}<br>
                {{ form.sex(size=32) }}<br>
                {% for error in form.sex.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.age_from.label }}<br>
                {{ form.age_from(size=32) }}<br>
                {% for error in form.age_from.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.age_to.label }}<br>
                {{ form.age_to(size=32) }}<br>
                {% for error in form.age_to.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.weight_from.label }}<br>
                {{ form.weight_from(size=32) }}<br>
                {% for error in form.weight_from.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.weight_to.label }}<br>
                {{ form.weight_to(size=32) }}<br>
                {% for error in form.weight_to.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
    </form>
    <style>
    table ,td{
        border:1px solid black;
    }
    </style>
    {% if jtext != None %}
        <textarea row="40" cols="200">
            {{ jtext }}
        </textarea>
    {% endif %}
{% endblock %}